body{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    background-color: #EEEEEE;
}

ol, ul {
	list-style: none;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1500px;
    height: 100px;
    background-color: black;
}
.space-between {
    justify-content: space-between;
}
.center-everything {
    justify-content: center;
}
.white{
    background-color: white;
}
.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    justify-content: center;
}
.container-pushed-in{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 100%;
}

.logo-container {
    display: flex;
    height: 80%;
    background-repeat: no-repeat;
    margin-left: 40px;
    height: 50%;
    background-position: center;
    background-size:contain;
    background-image: url(assets/VideoTroopWhiteTextNoBackground.png);
    background-repeat: no-repeat;
}


nav {
    color: white;
    margin-right: 40px;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.all-caps {
    text-transform: uppercase;
}
.center-text {
    text-align: center;
}
.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 5px solid red; */
}
.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 45vw;
    align-items: center;
    justify-content: center;
}
.hero-text {
    color: white;
    z-index: 2;
}
.get-started-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background-color: #34A3FF;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    border-style: none;
    margin: 20px 0;
}
.explainer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    z-index: 1;
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.explainer-video {
    width: 80%;
}
video {
    width: 100%;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 22, 179, 0.2);
    z-index: 1;
}


.col-1 {
    width: 8%;
}

.col-2 {
    width: 16%;
}
.col-3 {
    width: 24%;
}
.col-4 {
    width: 32%;
}
.col-5 {
    width: 40%;
}
.col-6 {
    width: 48%;
}
.col-7 {
    width: 56%;
}
.col-8 {
    width:64%;
}
.col-9 {
    width: 72%;
}
.col-10 {
    width: 80%;
}
.col-11 {
    width: 88%;
}
.col-12 {
    width: 96%;
}
